{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tickets de pesage - VDL - service d'hygiène</h1> 

    <div class="loginmodal-container">
        {% block fos_user_content %}

        {% endblock fos_user_content %}  
     </div>    
{% endblock %}         


